[user]
	name = Tyler Pickett
	email = tylerpickett@drata.com
	signingkey = ~/.ssh/id_ed25519.pub
	#email = t.pickett66@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[push]
	default = simple
	autoSetupRemote = true
[core]
	excludesfile = /Users/tylerpickett/.gitignore_global
[gc]
	auto=1

[alias]
	ca   = "commit --amend"
	can  = "commit --amend --no-edit"
	caan = "commit --all --amend --no-edit"

	# Create a new branch starting from latest upstream commit, works within a worktree
	wb = "!f() { \
		if [ -z \"${1// }\" ]; then \
		    echo \"A branch name is required\"; \
		else \
			git fetch; \
		    remote_default=$(git rev-parse --abbrev-ref origin/HEAD); \
			git checkout --no-track -b $1 $remote_default; \
		fi \
	}; f"
	rbo = "!f() { \
		git fetch; \
		git rebase origin/$(git branch --show-current); \
	}; f"

[credential]
	helper = store
[init]
	defaultBranch = main
[pull]
	ff = only
[gpg]
	format = ssh
[commit]
	gpgsign = true
	template = /Users/tylerpickett/.stCommitMsg
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
