[user]
	name = Tyler Pickett
	email = t.pickett66@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[gc]
	auto=1

[alias]
	ca   = "commit --amend"
	can  = "commit --amend --no-edit"
	caan = "commit --all --amend --no-edit"

	# Create a new branch starting from latest upstream commit, works within a worktree
	wb = "!f() { \
		if [ -z \"${1// }\" ]; then \
		    echo \"A branch name is required\"; \
		else \
			git fetch; \
		    remote_default=$(git rev-parse --abbrev-ref origin/HEAD); \
			git checkout --no-track -b $1 $remote_default; \
		fi \
	}; f"

[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[pull]
	ff = only
